{"data":{"session":{"mails":[{"toAddr":"zbmsuyqrd@emlhub.com","text":"sample\r\n","rawSize":2408,"headerSubject":"testing","fromAddr":"a@b.com","downloadUrl":"https://dropmail.me/download/mail/gql:rapidapi-XXXXXXX"}]}}}